.modal-content {
  border-radius: 0;
}

.btn-search:focus {
  box-shadow: none;
}

.text-decoration-only-hover {
  text-decoration: none !important;
}

.text-decoration-only-hover:hover {
  text-decoration: underline !important;
}

// Pagination

.pagination {
  @extend .justify-content-center;

  .page-item.active .page-link {
    background-color: $gray-700;
    border-color: $gray-700;
    color: $white;
  }
}

// Sidebar

.featured-index {
  font-size: 2.1rem;
  line-height: 2.5rem;
  color: #00000026;
}

.featured {
  h6 {
    font-size: 1.12rem;
  }

  small, .small {
    font-size: 0.93rem;
  }
}

// Figures

figure {
  text-align: center;
  width: 100%;

  @extend .figure;

  img {
    max-width: 100%;

    @extend .figure-img;
  }

  figcaption {
    @extend .figure-caption;
  }
}

// Tables

table {
  @extend .table;
  @extend .table-sm;
  @extend .table-bordered;
  @extend .table-striped;
}

// Taxonomies

.taxonomy {
  margin: 0 auto;
  max-width: 680px;
  width: 100%;
}

// Code

pre,
code {
  font-size: 1rem;
}
