.taxonomy {
  margin: 0 auto;
  max-width: 680px;
  width: 100%;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  figure {
    text-align: center;
    width: 100%;

    @extend .figure;

    img {
      @extend .figure-img;
    }

    figcaption {
      @extend .figure-caption;
    }
  }

  img {
    max-width: 100%;
  }
}
