{{ if .Site.Params.Search.Enabled }}
<div class="nav-search">
  <a class="text-muted text-decoration-none search-btn" href="#" aria-label="{{ i18n `search` }}">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="20"
         height="20"
         fill="none"
         stroke="currentColor"
         stroke-linecap="round"
         stroke-linejoin="round"
         stroke-width="2"
         role="img"
         viewBox="0 0 24 24"
         focusable="false">
      <title>{{ i18n `search` }}</title>
      <circle cx="10.5" cy="10.5" r="7.5"></circle>
      <path d="M21 21l-5.2-5.2"></path>
    </svg>
  </a>
  <input class="border-0" type="search" placeholder="{{ i18n `search` }}" aria-label="{{ i18n `search` }}">
</div>
{{ end }}
