<div class="card border-0 mt-5">
  <div class="row no-gutters">
    <div class="col-10">
      <div class="card-body py-0">
        <h5 class="card-title">
          <a href="{{ .Permalink }}" class="text-decoration-only-hover">{{ .Title }}</a>
        </h5>
        <div class="card-text d-none d-md-block mb-2">
          <a href="{{ .Permalink }}" class="text-decoration-none">{{ .Summary }}</a>
        </div>
        <p class="card-text small mb-0">
          {{ partial "home/meta-author-category.html" . }}
        </p>
        <p class="card-text text-muted small mb-0">
          {{ partial "home/meta-time-reading.html" . }}
        </p>
      </div>
    </div>
    <div class="col-2 m-auto">
      {{- $images := .Resources.ByType "image" -}}
      {{- with $images.GetMatch "{*thumbnail*,*cover*,*feature*,*header*}" -}}
      <img style="max-width: 120px; max-height: 120px;" src="{{ .Permalink }}" loading="lazy" class="card-img" alt="{{ $.Title }}">
      {{- else -}}
      {{- with .Params.thumbnail -}}
      <img style="max-width: 120px; max-height: 120px;" src="{{ .image | absURL }}" loading="lazy" class="card-img" alt="{{ with .alt }}{{ . }}{{ else }}{{ $.Title }}{{ end }}">
      {{- else -}}
      {{- if isset .Params "images" -}}
      {{- with $image := index .Params.images 0 -}}
      <img style="max-width: 120px; max-height: 120px;" src="{{ $image | absURL }}" loading="lazy" class="card-img" alt="{{ $.Title }}">
      {{- end -}}
      {{- else -}}
      <!-- no image -->
      {{- end -}}
      {{- end -}}
      {{- end -}}
    </div>
  </div>
</div>
