<section class="article-item mt-5">
  <article>
    <header>
      <h2 class="title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </header>

    <div class="summary d-none d-md-block">
      <a href="{{ .Permalink }}">{{ .Summary }}</a>
    </div>

    <footer class="mt-2">
      {{ partial "home/meta.html" . }}
    </footer>
  </article>
  <div class="cover">
    <a href="{{ .Permalink }}">
      {{- $images := .Resources.ByType "image" -}}
      {{- with $images.GetMatch "{*thumbnail*,*cover*,*feature*,*header*}" -}}
      <img src="{{ .Permalink }}">
      {{- else -}}
      {{- with .Params.thumbnail -}}
      <img src="{{ .image | absURL }}" alt="{{ with .alt }}{{ . }}{{ else }}{{ $.Title }}{{ end }}">
      {{- else -}}
      {{- if isset .Params "images" -}}
      {{- with $image := index .Params.images 0 -}}
      <img src="{{ $image | absURL }}" alt="{{ $.Title }}">
      {{- end -}}
      {{- else -}}
      <div class="fill"></div>
      {{- end -}}
      {{- end -}}
      {{- end -}}
    </a>
  </div>
</section>
